{% extends "base.html" %}
{% comment %}
	Main page to authenticate users.
	{% endcomment %}

	{% block title %}
	Commentarius - login &amp; registration
	{% endblock %}

	{% block content %}
	<section>
		{% if form.errors %}
		<div class="row">
			<div class="col-sm-6">
				<div class="alert alert-danger">
					<strong>Login failed!</strong> Your username and password didn't match, please try again.
				</div>
			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Please Login</h3>
					</div>
					<div class="panel-body">
						<form method="post" action=".">
							<div class="row">
								<div class="col-sm-6">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-4">
											<label for="id_username">Username:</label>
										</div>
										<div class="col-sm-8">
											{{ form.username }}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<label for="id_password">Password:</label>
										</div>
										<div class="col-sm-8">
											{{ form.password }}
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											{% if next %}
											<input type="hidden" name="next" value="{{ next }}" />
											{% else %}
											<input type="hidden" name="next" value="/" />
											{% endif %}
										</div>
										<div class="col-sm-8">
											<input type="submit" value="login" class="btn btn-lg btn-primary"/>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
