{% extends "commentarius_base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h1 class="panel-title">Page Not Found</h1>
			</div>
			<div class="panel-body">
				<p>Sorry, but the requested page could not be found.</p>
			</div>
			<div class="panel-footer">
				<p class="text-default">You can try emailing 'de commentariis at gmail dot com' if the situation persists and you believe it ought to be otherwise.</p> 
			</div>
		</div>
	</div>
</div>
{% endblock %}
