<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/css/bootstrap-readable.min.css" rel="stylesheet">
		<link href="/static/theme/theme.css" rel="stylesheet">
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<title>SERVER ERROR</title>
	</head>
	<body role="document">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h1 class="panel-title">Server error</h1>
					</div>
					<div class="panel-body">
						<p>Sorry, but the requested page is unavailable due to a
							server hiccup.</p>
						<p>Our engineers have been notified, so check back later.</p>
					</div>
					<div class="panel-footer">
						<p class="text-muted">You can try emailing 'de commentariis at gmail dot com' if the situation persists.</p> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
