<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/static/theme/theme.css" rel="stylesheet">
		<script src="/static/js/jquery-1.11.0.min.js"></script>
		<title>Commentarius - commentarios faciat</title>
		<script src="/static/js/bootstrap.min.js"></script>
	</head>
	<body role="document">
		<div class="container-fluid" role="main">
			<div class="jumbotron">
			<h1>Commentarius!</h1>
				<p>This (prototype) site allows you to construct your own commentaries on ancient texts.</p>
				<p><a href="/text/" class="btn btn-primary btn-lg" role="button">Available works &raquo;</a></p>
			</div>
			<div id="maincontent" class="row">
				<div class="col-md-6">
					<h2>features</h2>
					<ul>
						<li>Create commentary items on any available ancient text</li>
						<li>View other commentary items created by other users</li>
						<li>Vote items from other users to increase their reputation</li>
						<li>Filter items by reputation level</li>
						<li>View individual users commentaries</li>
					</ul>
					<h2>terms &amp; conditions</h2>
					<p>N.B. This site is currently α / β. It might go down or be unavailable for indeterminate time periods. Currently it is for demonstration purposes only.<p>
					<p>By using this site you agree that:<p>
					<ol>
						<li>You represent that all commentaries you create and place in this repository are entirely your own original work and your own copyright.</li>
						<li>The source text data is taken from an open source respository (see credits) which imposes a moral obligation on the site developer and yourself for reciprocal return of materials.</li> 
						<ol>
						<li>Therefore you agree to license your content back under similar terms to the source texts.</li>
						<li>This means you agree your constributions are licenced to Commentarius using a Creative Commons Attribution-ShareAlike 3.0 Australia License.</li>
						</ol>
						<li>No liability is assumed by Commentarius or its developer. No warranty or representation is made as to its reliability or fitness for purpose.</li>
					</ol>
				</div>
				<div class="col-md-6">
					<h2>credits</h2>
					<p>Ancient text data is licensed from the <a href="http://www.perseus.tufts.edu/hopper/">Perseus Digital Library</a> and taken from their <a href="https://github.com/PerseusDL/canonical">github repository</a>, with the following license conditions:</p>
					<blockquote>
					<p>Tufts University holds the overall copyright to the Perseus Digital Library; the materials therein (including all texts, translations, images, descriptions, drawings, etc.) are provided for the personal use of students, scholars, and the public.</p>
					<p>Materials within the Perseus DL have varying copyright status: please contact the project for more information about a specific component or object. Copyright is protected by the copyright laws of the United States and the Universal Copyright Convention.</p>
					<p>Unless otherwise indicated, all contents of this repository are licensed under a Creative Commons Attribution-ShareAlike 3.0 United States License. You must offer Perseus any modifications you make. Perseus provides credit for all accepted changes.</p>
					</blockquote>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					
				</div>
			</div>
		</div>
		<div id="footer">
		  <div class="container">
		  	<div id="maincontent" class="row">
			  	<div id="text" class="col-md-6">
				Copyright 2014 <a href="http://autonomous.org/">Autonomous Organisation</a>.</div>
				<div id="text" class="col-md-6">This site's source code available with a GPL license from <a href="https://github.com/scotartt/commentarius">github</a>
				</div>
			</div>
		  </div>
	  </div>
	</div>
	</body>

</html>
