{% extends 'base.html' %}

{% block title %}
	Commentarius - 
	{{ object.cts_urn }}
{% endblock title %}

{% block content %}
	<div class="row">
		<div class="col-md-1">
		<p>{{ object.section_ref }}</p>
		</div>
		<div class="col-md-11">
			<p>{{ object.entry.author }} 
			<em>'{{ object.entry.title }}'</em></p>
		</div>
	</div>
	<div id="maincontent" class="row">
		<div id="leftoftext" class="col-md-1">
			{% if section_prev %}
			Prev:<br/><a href='../{{ section_prev.cts_urn }}/'>{{ section_prev.section_ref }}</a>
			{% endif %}
		</div>
		<div id="text" class="col-md-4">
			{% autoescape off %}  {{ section_text }} {% endautoescape %}
		</div>
		<div id="rightoftext" class="col-md-1">
			{% if section_next %}
			Next:<br/><a href='../{{ section_next.cts_urn }}/'>{{ section_next.section_ref }}</a>
			{% endif %}
		</div>
	</div>
	<div id="parentnav" class="row">
		<div class="col-md-6">
			Path: <a href='/text/{{ object.entry.cts_urn }}/'>{{ object.entry.cts_urn }}</a>
			{% for sect in section_path %}
				:: <a href='../{{ sect.cts_urn }}/'>{{ sect.section_ref }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
