{% extends 'commentarius_base.html' %}

{% block title %}
decommentariis - {{ object.entry.author }} -
{{ object.cts_urn }}
{% endblock title %}

{% block content %}
<div class="row">
	<div class="col-sm-4 col-sm-offset-1 small">
		<p>{{ object.entry.author }}<em>'{{ object.entry.title }}'</em></p>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 small">
		<ul class="pager small top">	
			{% if section_prev %}
			<li class="previous"><a href='../{{ section_prev.cts_urn }}/'>&laquo; {{ section_prev.section_ref }}</a></li>
			{% else %}
			<li class="previous disabled"><a href='#'>&laquo;</a></li>
			{% endif %}
			<li class="selected"><a href="./">{{ object.section_ref }}</a></li>
			{% if section_next %}
			<li class="next"><a href='../{{ section_next.cts_urn }}/'>{{ section_next.section_ref }} &raquo;</a></li>
			{% else %}
			<li class="next disabled"><a href='#'>&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>

<div id="maincontent" class="row">
	<div id="leftoftext" class="col-sm-1">
		
	</div>
	<div id="text" class="col-sm-4 maintext">
		{% autoescape off %}  {{ section_text }} {% endautoescape %}
	</div>
	<div id="rightoftext" class="col-sm-1">
		{% if children %}
		Children
		<ul class="child-list small">
		{% for child in children %}
		<li class="child-item"><a href='../{{ child.cts_urn }}/'>{{ child.section_ref }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div  class="col-sm-6">
		<table id="commentary-container" class="table table-striped table-hover table-condensed table-responsive">
			<tbody>
			<tr class="row small">
				<th class="col-sm-9 small text-muted">User commentary items</th>
				<th class="col-sm-2 small text-muted">User</th>
				<th class="col-sm-1 small text-muted">Votes</th>
			</tr>
			<!-- this is where the action happens, requires javascript -->
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 small">
		<ul class="pager small bottom">	
			{% if section_prev %}
			<li class="previous"><a href='../{{ section_prev.cts_urn }}/'>&laquo; {{ section_prev.section_ref }}</a></li>
			{% else %}
			<li class="previous disabled"><a href='#'>&laquo;</a></li>
			{% endif %}
			<li class="selected"><a href="./">{{ object.section_ref }}</a></li>
			{% if section_next %}
			<li class="next"><a href='../{{ section_next.cts_urn }}/'>{{ section_next.section_ref }} &raquo;</a></li>
			{% else %}
			<li class="next disabled"><a href='#'>&raquo;</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}

{% block footer %}
</script>
<div id="nav2ancestors-footer" class="row">
	<div class="col-sm-6">
		<p class="text-muted">
			text loc <a href='/text/{{ object.entry.cts_urn }}/'>{{ object.entry.cts_urn }}</a>
			{% for sect in section_path %}
			:: <a href='../{{ sect.cts_urn }}/'>{{ sect.section_ref }}</a>
			{% endfor %}
		</p>
	</div>
	<div class="col-sm-6">
		<p class="text-muted">You are logged in as user '{{request.user.username}}'</p>
	</div>
</div>
<script src="/static/js/commentaries.js">
</script>
<script>
$('#commentary-container').ready(function(){
    commentaries('{{ object.cts_urn }}');
});
</script>
{% endblock footer %}
