{% extends 'commentarius_base.html' %}
{% load shorter_cts %}
{% block title %}
de commentariis - {{ teientry.author }} - {{ teientry.title}} - {{ teientry.cts_urn }}
{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<h2 class="no-space-before">{{ teientry.author }} <small><em>{{ teientry.title}}</em></small></h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<ul class="list-inline text-success">
			<li>&laquo;{{ teientry.bibliographic_entry }}&raquo;</li>
			<li>&laquo;CTS URN <a href="./">{{ teientry.cts_urn }}&raquo;</a></li> 
			<li>&laquo;<a href="/text/?author={{ teientry.author }}">Other works by {{ teientry.author }}</a>&raquo;</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Edition sections</h3>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th class="col-sm-3 text-right">Section Ref</th>
					<th class="col-sm-9">Section CTS URN</th>			
				</tr>
			</thead>
			<tbody>
				{% for teisection in object_list %}
				<tr>
					<td class="text-right">
						<b><a href='/textdata/{{ teisection.cts_urn }}/'>{{ teisection.section_ref}}</a></b>
					</td>
					<td>
						<a href='/textdata/{{ teisection.cts_urn }}/'>{{ teisection.cts_urn }}</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 text-muted">
		{# .... **Now the pagination section** .... #}
		{% if is_paginated %}
		<ul class="pagination">
			<li class="previous"><a href="./?page=1">(1) first</a></li>
			{% if page_obj.has_previous %}
			<li><a href="./?page={{ page_obj.previous_page_number }}">({{ page_obj.previous_page_number }}) previous</a></li>
			{% else %}
			<li class="disabled"><a href='#'>&laquo;</a></li>
			{% endif %}
			<li class="text-info"><a href="./?page={{ page_obj.number }}">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
			{% if page_obj.has_next %}
			<li><a href="./?page={{ page_obj.next_page_number }}">next ({{ page_obj.next_page_number }})</a></li>
			{% else %}
			<li class="disabled"><a href='#'>&raquo;</a></li>
			{% endif %}
			<li class="next"><a href="./?page={{ page_obj.paginator.num_pages }}">last ({{ page_obj.paginator.num_pages }})</a></li>


		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
