{% extends 'commentarius_base.html' %}
{% load shorter_cts %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h2>Editions available</h2>
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-responsive">
					<thead>
						<tr>
							<th class="col-sm-3 text-right">Author</th>
							<th class="col-sm-6">Edition Title</th>			
							<th class="col-sm-3">CTS URN</th>
						</tr>
					</thead>
					<tbody>
						{% for teientry in object_list %}
						<tr>
							<td class="text-right">
								{{ teientry.author|default:"(no author)" }}
							</td>
							<td>
								<a href='./{{ teientry.cts_urn }}/'>
									<em>{{ teientry.title|default:"(no title)" }}</em> 
									{% if teientry.editor %}	
									(editor {{ teientry.editor }}) 
									{% elif teientry.publisher %}
									(publisher {{ teientry.publisher }})
									{% endif %}
								</a>
							</td>
							<td class="small">
								<a href='./{{ teientry.cts_urn }}/'>{{ teientry.cts_urn|prettyctsurn }}</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		{# .... **Now the pagination section** .... #}
		{% if is_paginated %}
		<ul class="pagination">
			<li class="previous"><a href="./?page=1">(1) &laquo;&laquo; first</a></li>
			{% if page_obj.has_previous %}
			<li><a href="./?page={{ page_obj.previous_page_number }}">({{ page_obj.previous_page_number }}) &laquo; previous</a></li>
			{% else %}
			<li class="disabled"><a href='#'>&laquo;</a></li>
			{% endif %}
			<li class="text-info"><a href="./?page={{ page_obj.number }}">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li>
			{% if page_obj.has_next %}
			<li><a href="./?page={{ page_obj.next_page_number }}">next &raquo; ({{ page_obj.next_page_number }})</a></li>
			{% else %}
			<li class="disabled"><a href='#'>&raquo;</a></li>
			{% endif %}
			<li class="next"><a href="./?page={{ page_obj.paginator.num_pages }}">last &raquo;&raquo; ({{ page_obj.paginator.num_pages }})</a></li>
		</ul>
		{% endif %}
	</div>
</div>
{% endblock %}
