{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
{% if form.errors %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-danger">
			<strong>Address verification email failed!</strong> There was a problem with your verification. It looks like it didn't process.<br/>
			{{ form.errors }}
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h1 class="panel-title">{% trans "Confirm E-mail Address" %}</h1>
			</div>
			<div class="panel-body">
				{% if confirmation %}

				{% user_display confirmation.email_address.user as user_display %}

				<div class="text-primary lead">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</div>
				<form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="form-inline">
					{% csrf_token %}
					<button type="submit" class="primaryAction btn btn-danger">{% trans 'Confirm' %}</button>
				</form>
				{% else %}
				<div class="text-danger lead">
					{% url 'account_email' as email_url %}
					{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
