{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% if form.errors %}
<div class="row">
	<div class="col-sm-6">
		<div class="alert alert-danger">
			<strong>Change password failed!</strong> There was a problem with your password change attempt.<br/>
			{{ form.errors }}
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans "Change Password" %}</h3>
			</div>
			<div class="panel-body">
				<form method="POST" action="{% url 'account_change_password' %}" class="password_change form-inline">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" class="primaryAction btn btn-info pull-right" name="action">{% trans "Change Password" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
