{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
{% if form.errors %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-danger">
			<strong>Set password failed!</strong> There was a problem with your set password attempt.<br/>
			{{ form.errors }}
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3>{% trans "Set Password" %}</h3>
			</div>
			<div class="panel-body">
				<form method="POST" action="{% url 'account_set_password' %}" class="password_set form form-inline">
					{% csrf_token %}
					<table class="table">
					{{ form.as_table }}
					</table>
					<input type="submit" name="action" value="{% trans "Set Password" %}" class="primaryAction btn btn-danger pull-right"/>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
