{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% if form.errors %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="alert alert-danger">
				<strong>Registration failed!</strong> There was a problem with your registration.<br/>
				{{ form.errors }}
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
	<p class="text-muted lead">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans "Sign Up" %}</h3>
			</div>
			<div class="panel-body">
				

				<form class="signup form-inline" role="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					<!-- { { form.as_p } } -->
					<div class="form-group">
						<label for="id_username" class="sr-only">Username:</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">uname</span>
							<input autofocus="autofocus" id="id_username" maxlength="30" name="username" placeholder="Username" type="text" class="form-control"/>
						</div>
						<label for="id_email" class="sr-only">E-mail:</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">u@eml</span>
							<input id="id_email" name="email" placeholder="E-mail address" type="text" class="form-control"/>
						</div>
						<label for="id_password1" class="sr-only">Password:</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">psswd</span>
							<input id="id_password1" name="password1" placeholder="Password" type="password" class="form-control"/>
						</div>
						<label for="id_password2" class="sr-only">Password (again):</label>
						<div class="input-group input-group-lg">
							<span class="input-group-addon">psswd</span>
							<input id="id_password2" name="password2" placeholder="Password (again)" type="password" class="form-control"/>
						</div>
						<input id="id_confirmation_key" name="confirmation_key" type="hidden" />
						{% if redirect_field_value %}
						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<button type="submit" class="primaryAction btn btn-primary pull-right">{% trans "Sign Up" %} &raquo;</button>
					</div>
				</form>
			</div>

		</div>
		<p class="text-success lead">{% blocktrans %}Have a Google+, Twitter, or Facebook account? Then please <a href="{{ login_url }}">go to the sign in page</a> to use your social account to access this site.{% endblocktrans %}</p>
	</div>
</div>
{% endblock %}


