{% extends "socialaccount/base.html" %}
{% load url from future %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{% trans "Sign Up" %}</h3>
			</div>
			<div class="panel-body">
				<p>
					{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
					{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
				</p>

				<form class="signup form-inline" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
					{% csrf_token %}
					{{ form.as_p }}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit" class="primaryAction btn btn-info pull-right">{% trans "Sign Up" %} &raquo;</button>
				</form>

			</div>
		</div>
	</div>
</div>


{% endblock %}
