html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 70px;
	padding-bottom: 30px;
	margin-bottom: 60px;

}

/*
.navbar {
	background-color: #f5f5f5;
}
*/
l {
	display:block;
}
l:after {
	content:'(' attr(n) ')';
	float:right;
	font-size: 80%;
	color: #999;
	
}

lg, lb {
	display:block;
	margin-top: 0.8em;
}
/* 
<sp><speaker>Sosia</speaker>
<l part="M" n="551.1">Sequ&oacute;r, subsequ&oacute;r te.</l></sp>
*/
sp {
	font-size: 80%;
	display:block;
	margin-top: 0.8em;
}
sp > speaker {
	display:block;
	font-style: italic;
	color: #999;
}
sp > speaker:after {
	content:'  ';
}
sp l {
	display:block;
}
/* <lb ed="actscene" n="10"/> */
sp lb {
	display:block;
	margin-top: 0.3em;
}
sp lb:before {
	content: '[' attr(ed) ' ' attr(n) ']';
	font-size: 80%;
	color: #999;
}


.maintext {
	font-size: 1.1em;
}

.small > blockquote {
	font-size: 80%;
	border: none;
	border-left: 2px solid #4582ec;
}
.small > div > blockquote {
	font-size: 80%;
	border: none;
	border-left: 2px solid #4582ec;
}
#commentary-table-header .text-muted {
	font-variant: small-caps;  
}
#commentary-container .small {
	font-size: 10pt;
}
#commentary-container .uname {
	font-size: 9pt;
	color: #999;
}
#commentary-container .votes {
	color: #999;
}
#commentary-container h1 {
	font-size: 10pt;
	font-weight: bold;
	font-variant: small-caps;
	color: #333;
}
#commentary-container div.small>h1 {
	margin-top: 0;
}
#commentary-container h2 {
	font-size: 10pt;
	font-weight: bold;
	font-variant: small-caps;
	color: #333;
}
#commentary-container div.small>h2 {
	margin-top: 0;
}
#commentary-container h3 {
	font-size: 10pt;
	font-variant: small-caps;
	color: #333;
}
#commentary-container div.small>h3 {
	margin-top: 0;
}
#commentary-container h4 {
	font-size: 10pt;
	font-variant: small-caps;
	color: #333;
}
#commentary-container div.small>h4 {
	margin-top: 0;
}
form.editable > button {
	
}
.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 10px;
}
.child-list {
	padding-left: 0;
	margin: 0px 0px;
	text-align: left;
	list-style: none;
}
.child-list li {
	display: block;
}
.section-list {
	padding-left: 5px;
	margin: 20px 20px;
	text-align: left;
	list-style: none;
	font-size: 1.1em;
}
.section-list li {
	display: block;
}
.text-list {
	padding-left: 5px;
	margin: 20px 20px;
	text-align: left;
	list-style: none;
	font-size: 1.1em;
}
.text-list li {
	display: block;
	padding-top: 5px;
}
.pager {
	padding-left: 0;
	margin: 0px 0px 5px 0px;
	text-align: center;
	list-style: none;
}
.pager li {
	display: inline;
}
.pager li > a,
.pager li > span {
	display: inline-block;
	padding: 2px 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.pager li > a:hover,
.pager li > a:focus {
	text-decoration: none;
	background-color: #999;
}
.pager .next > a,
.pager .next > span {
	float: right;
}
.pager .previous > a,
.pager .previous > span {
	float: left;
}
.pager .selected > a,
.pager .selected > a:focus,
.pager .selected > span {
	color: #eee;
	background-color: #999;
	font-size: 1.2em;
}
.pager .selected > a:hover {
	background-color: #666;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: #999;
	cursor: not-allowed;
	background-color: #fff;
}
.form-inline {
	margin:5px 3px;
}
.input-group {
	margin:5px 0px;
}
